@using WeddingPlanner2.Models
@model Wedding

<h4 class="display-4 mb-5 text-center">Plan Your Wedding</h4>

<div class="offset-3 col-6">
    <form asp-action="create" asp-controller="Wedding" method="POST">
        <div class="form-group">
            <label asp-for="Bride"></label>
            <input asp-for="Bride" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Groom"></label>
            <input asp-for="Groom" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-dark">Add Wedding</button>
        </div>
    </form>
</div>