@using WeddingPlanner2.Models
@model User

        <div class="row">
            <div class="offset-1 col-md-4 col-sm-8 col-12">
                <h2>Register</h2>
                <form asp-action="register" asp-controller="Home" method="POST">
                    <div class="form-group">
                        <label asp-for="FirstName" class="d-block">First Name:</label>
                        <span asp-validation-for="FirstName"></span>
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="d-block">Last Name:</label>
                        <span asp-validation-for="LastName"></span>
                        <input type="text" class="form-control" asp-for="LastName" placeholder="last name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="d-block">Email:</label>
                        <span asp-validation-for="Email"></span>
                        <input type="text" class="form-control" asp-for="Email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="d-block">Password:</label>
                        <span asp-validation-for="Password"></span>
                        <input type="password" class="form-control" asp-for="Password">
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfPassword" class="d-block">Confirm Password:</label>
                        <span asp-validation-for="ConfPassword"></span>
                        <input type="password" class="form-control" asp-for="ConfPassword">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col d-flex justify-content-center">
                
                <!-- Partial for Login Here -->
                <partial name="_Login"/>

            </div>
        </div>